<!-- frontend code for image processing -->
<html>
<title> Image Processing </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

<body>
<center>
<br>
	<h1>Image Processing</h1><hr>
	<form method="post" action="/" enctype="multipart/form-data"><br><br>
	    <h2>Select an Image for adding effects.</h2>
		<select name = "image_type_selection">
			<option class = "option" value = "gray">GRAY</option>
			<option class = "option" value = "sketch">SKETCH</option>
			<option class = "option" value = "oil">OIL EFFECT</option>
			<option class = "option" value = "rgb">BGR TO RGB</option>
			<option class = "option" value = "hdr">HDR</option>
			<option class = "option" value = "invert">INVERT</option>
			<option class = "option" value = "water_effect">WATER EFFECT</option>
		</select>

		<input type="file" name="file" class = "btn btn-primary btn-lg"><br>
		<br>
		<input type = "submit" class = "btn btn-success btn-lg" value = "Submit"><br><br>
	</form>
		<img src="{{ url_for('display_image', filename=filename) }}"><br><br><br><br>
</center>
</body>
</html>











